<div class="main-container">
  <div class="hero-wrapper">
    <div class="hero-content">
      <div class="description-container">
        <div class="description-title">
          Discover the magic of our surprise box
        </div>
        <div class="description-desc">
          Unleash your child's curiosity with our educational subscription box
          filled with fun and learning.
        </div>
      </div>
      <div class="div-8">
        <div class="div-9" routerLink="subscribe">Subscribe Now</div>
      </div>
    </div>
    <img src="assets/heroimage.png" class="img-2" />
  </div>
  <div class="discover-container">
    <div class="discover-wrapper">
      <div class="discover-content-wrapper">
        <div class="discover-header">Discover</div>
        <div class="div-14">
          <div class="discover-title">
            How It Works: Subscribe and Receive Your Surprise Box
          </div>
          <div class="discover-desc">
            Subscribe to our surprise subscription box and give your child the
            gift of learning. Each month, we curate a box filled with
            educational materials tailored to your child's age and interests.
          </div>
        </div>
      </div>
      <div class="discover-step-container">
        <div class="discover-step-wrapper">
          <div class="discover-step-main">
            <div class="discover-step-1">
              <div class="discover-step-1-container">
                <img loading="lazy" src="assets/step1.svg" class="img-4" />
                <div class="discover-step-1-content">
                  <div class="discover-step-1-title">
                    Step 1:
                    <br />
                    Subscribe
                  </div>
                  <div class="discover-step-1-desc">
                    Select a subscription plan that suits your child's learning
                    needs and preferences.
                  </div>
                </div>
              </div>
            </div>
            <div class="discover-step-2">
              <div class="discover-step-2-container">
                <img loading="lazy" src="assets/step2.svg" class="img-5" />
                <div class="discover-step-2-content">
                  <div class="discover-step-2-title">
                    Step 2:
                    <br />
                    Personalise Your Box
                  </div>
                  <div class="discover-step-2-desc">
                    Tell us about your child's age, interests, and learning
                    goals, and we'll customize their surprise box accordingly.
                  </div>
                </div>
              </div>
            </div>
            <div class="discover-step-3">
              <div class="discover-step-3-container">
                <img loading="lazy" src="assets/step3.svg" class="img-6" />
                <div class="discover-step-3-content">
                  <div class="discover-step-3-title">
                    Step 3:
                    <br />
                    Receive Your Surprise Box
                  </div>
                  <div class="discover-step-3-desc">
                    Sit back and relax as your child eagerly awaits the arrival
                    of their monthly surprise box filled with engaging learning
                    materials.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="discover-subscribe-container">
          <a routerLink="subscribe" class="div-33">Subscribe Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="div-34">
    <div class="div-35">
      <div class="div-36"></div>
      <div class="div-37">
        <div class="div-38">
          <div class="div-39">Privacy Policy</div>
          <div class="div-40">Terms of Service</div>
          <div class="div-41">Cookies Settings</div>
        </div>
        <div class="div-42">© 2023 Relume. All rights reserved.</div>
      </div>
    </div>
  </div>
</div>
