<div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <div class="div-4">
            <div class="div-5">
              <div class="div-6">
                <div class="div-7">Subscribe</div>
                <div class="div-8">to our Monthly Surprise Box</div>
                <div class="div-9">
                  <div class="div-10">
                    <div class="div-11">Cart</div>
                    
                    <div class="div-12">Information</div>
                    
                    <div class="div-13">Shipping</div>
                   
                    <div class="div-14">Payment</div>
                  </div>
                </div>
              </div>
              <div class="div-15"></div>
              <div class="div-16">
                <div class="info-cont">
                  <div class="contact-info">Contact Information</div>
                  <div class="inp-cont">
                  
                    <div class="inp-grp">
                   
                   
                        <label class="label-wrapper" for="name">Name</label>
                        <input class="input-wrapper" id="name" type="text" formControlName="name">
                        <!-- <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                          <span *ngIf="form.get('name')?.errors?.['required']">Name is required</span>
                        </div> -->

                        <label class="label-wrapper" for="name">Email</label>
                        <input class="input-wrapper" id="name" type="text" formControlName="name">
                      
                      </div>

                    <div class="div-24">
                      <div class="div-25">Email</div>
                      <div class="div-26">
                        <div class="div-27">Osama@gmail.com</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-28">
                  <div class="div-29">Child’s Information</div>
                  <div class="div-30">
                    <div class="div-31">
                      <div class="div-32">Child’s Full Name</div>
                      <div class="div-33">
                        <div class="div-34">e.g Sarah Mohammad</div>
                      </div>
                    </div>
                    <div class="div-35">
                      <div class="div-36">Child’s Date of Birth</div>
                      <div class="div-37">
                        <div class="div-38">
                          <div class="div-39">Date</div>
                          <img
                            loading="lazy"
                            srcset="
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/7a3c4ddc-6cef-41d2-9aaf-eecbd8d6b79b?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                            "
                            class="img-2"
                          />
                        </div>
                        <div class="div-40">
                          <div class="div-41">Month</div>
                          <img
                            loading="lazy"
                            srcset="
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/91011ad4-8a73-4767-b375-0104ba01f019?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                            "
                            class="img-3"
                          />
                        </div>
                        <div class="div-42">
                          <div class="div-43">Year</div>
                          <img
                            loading="lazy"
                            srcset="
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/3a29c1bb-240c-4ee4-bbe9-45afcf3ced58?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                            "
                            class="img-4"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="div-44">
                      <div class="div-45">Grade</div>
                      <div class="div-46">
                        <div class="div-47">e.g Grade 2</div>
                        <img
                          loading="lazy"
                          srcset="
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9920e-6627-4767-bfde-f857ee0e2436?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                          "
                          class="img-5"
                        />
                      </div>
                    </div>
                    <div class="div-48">
                      <div class="div-49">Gender</div>
                      <div class="div-50">
                        <div class="div-51">
                          <div class="div-52">Boy</div>
                          <img
                            loading="lazy"
                            srcset="
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/b5033da7-488d-4bba-acae-4f6ea418fd6d?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                            "
                            class="img-6"
                          />
                        </div>
                        <div class="div-53">
                          <div class="div-54">Girl</div>
                          <img
                            loading="lazy"
                            srcset="
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=100   100w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=200   200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=400   400w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=800   800w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1200 1200w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=1600 1600w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&width=2000 2000w,
                              https://cdn.builder.io/api/v1/image/assets/TEMP/75043b21-5401-482b-9f58-a354b970e5aa?apiKey=40c12cad783f48c1a09cf4f5546b556b&
                            "
                            class="img-7"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-55">
                  <div class="div-56">As a parent select any 3 topics</div>
                  <div class="div-57">
                    <div class="div-58">Arabic</div>
                    <div class="div-59">Islamic</div>
                    <div class="div-60">English</div>
                    <div class="div-61">History</div>
                    <div class="div-62">Sports</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-63">
              <div class="div-64">Continue to payment</div>
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-65">
            <div class="div-66">
              <div class="div-67">
                <div class="div-68">Summary</div>
                <div class="div-69">of your Monthly Surprise Box</div>
              </div>
              <div class="div-70">
                <div class="div-71">
                  <div class="div-72">
                    <div class="div-73">Mystery Box</div>
                    <div class="div-74">X 1</div>
                  </div>
                  <div class="div-75">
                    <div class="div-76">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        456
                      </span>
                    </div>
                    <div class="div-77">Monthly</div>
                  </div>
                </div>
              </div>
              <div class="div-78">
                <div class="div-79">
                  <div class="div-80">
                    <div class="div-81">Subtotal</div>
                    <div class="div-82">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        456
                      </span>
                    </div>
                  </div>
                  <div class="div-83">
                    <div class="div-84">Shipping</div>
                    <div class="div-85">Free</div>
                  </div>
                  <div class="div-86">
                    <div class="div-87">Taxes</div>
                    <div class="div-88">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        4.0
                      </span>
                    </div>
                  </div>
                </div>
                <div class="div-89"></div>
                <div class="div-90">
                  <div class="div-91">Total</div>
                  <div class="div-92">
                    <span
                      style="
                        font-family: Nunito, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 400;
                      "
                    >
                      SAR
                    </span>
                    <span
                      style="
                        font-family: Nunito, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 700;
                      "
                    >
                      460
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  