<div class="navbar-2">
  <div class="container">
    <div class="content">
      <svg
        class="logo"
        width="63"
        height="28"
        viewBox="0 0 63 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.564453 21.5H13.2485V17.944H5.10045V1.47998H0.564453V21.5Z"
          fill="white"
        />
        <path
          d="M21.587 18.728C19.291 18.728 18.003 17.048 18.003 14.248V14.024C18.003 11.224 19.347 9.60002 21.587 9.60002C23.855 9.60002 25.171 11.28 25.171 14.08V14.276C25.171 17.048 23.855 18.728 21.587 18.728ZM21.559 21.808C25.955 21.808 29.287 18.868 29.287 14.248V14.024C29.287 9.46002 25.983 6.52002 21.587 6.52002C17.191 6.52002 13.859 9.51602 13.859 14.108V14.332C13.859 18.896 17.191 21.808 21.559 21.808Z"
          fill="white"
        />
        <path
          d="M37.665 26.904C42.481 26.904 45.3649 24.692 45.3929 20.352V6.85602H41.361V9.04002C40.521 7.55602 39.0929 6.52002 36.7129 6.52002C33.0729 6.52002 30.2729 9.46002 30.2729 13.66V13.856C30.2729 18.196 33.1009 20.856 36.6569 20.856C38.8129 20.856 40.549 19.568 41.361 18.14V20.352C41.361 22.648 40.129 23.936 37.665 23.936C35.593 23.936 34.669 23.096 34.417 21.808H30.3849C30.7769 24.832 32.933 26.904 37.665 26.904ZM37.861 17.804C35.845 17.804 34.417 16.292 34.417 13.856V13.632C34.417 11.224 35.677 9.60002 37.945 9.60002C40.1569 9.60002 41.4729 11.112 41.4729 13.604V13.8C41.4729 16.292 39.989 17.804 37.861 17.804Z"
          fill="white"
        />
        <path
          d="M54.9616 18.728C52.6656 18.728 51.3776 17.048 51.3776 14.248V14.024C51.3776 11.224 52.7216 9.60002 54.9616 9.60002C57.2296 9.60002 58.5456 11.28 58.5456 14.08V14.276C58.5456 17.048 57.2296 18.728 54.9616 18.728ZM54.9336 21.808C59.3296 21.808 62.6616 18.868 62.6616 14.248V14.024C62.6616 9.46002 59.3576 6.52002 54.9616 6.52002C50.5656 6.52002 47.2336 9.51602 47.2336 14.108V14.332C47.2336 18.896 50.5656 21.808 54.9336 21.808Z"
          fill="white"
        />
      </svg>
    </div>
  </div>
</div>
<form [formGroup]="subscribeForm" (ngSubmit)="submit()">
  <div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <div class="div-4">
            <div class="div-5">
              <div class="div-6">
                <div class="div-7">Subscribe</div>
                <div class="div-8">to our Monthly Surprise Box</div>
                <div class="div-9">
                  <div class="div-10">
                    <div class="div-11">
                      Cart
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4 1.5L7.32322 4.82322C7.42085 4.92085 7.42085 5.07915 7.32322 5.17678L4 8.5"
                          stroke="#707070"
                          stroke-width="1.4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>

                    <div class="div-12">
                      Information
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4 1.5L7.32322 4.82322C7.42085 4.92085 7.42085 5.07915 7.32322 5.17678L4 8.5"
                          stroke="#707070"
                          stroke-width="1.4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>

                    <div class="div-13">
                      Shipping
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4 1.5L7.32322 4.82322C7.42085 4.92085 7.42085 5.07915 7.32322 5.17678L4 8.5"
                          stroke="#707070"
                          stroke-width="1.4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>

                    <div class="div-14">Payment</div>
                  </div>
                </div>
              </div>
              <div class="div-15"></div>
              <div class="div-16">
                <div class="info-cont">
                  <div class="contact-info">Contact Information</div>
                  <div class="inp-cont">
                    <div class="inp-grp">
                      <label class="label-wrapper" for="name">Your Name</label>
                      <input
                        class="input-wrapper"
                        id="name"
                        type="text"
                        formControlName="name"
                      />
                      <div class="val-err"
                        *ngIf="
                          subscribeForm.get('name')?.invalid &&
                          subscribeForm.get('name')?.touched
                        "
                      >
                        <span
                          *ngIf="subscribeForm.get('name')?.errors?.['required']"
                          >Name is required</span
                        >
                      </div>
                      
                     
                      </div>

                      <div class="inp-grp">
                      <label class="label-wrapper" for="email">Email</label>
                      <input
                        class="input-wrapper"
                        id="email"
                        type="email"
                        formControlName="email"
                      />
                      <div
                      class="val-err"
                        *ngIf="
                          subscribeForm.get('email')?.invalid &&
                          subscribeForm.get('email')?.touched
                        "
                      >
                        <span
                          *ngIf="subscribeForm.get('email')?.errors?.['required']"
                          >Email is required</span
                        >
                        <span
                          *ngIf="subscribeForm.get('email')?.errors?.['email']"
                          >Email is invalid</span
                        >
                        </div>

                    </div>
                  </div>
                </div>

                <div class="info-cl">
                  <div class="contact-info">Child’s Information</div>
                  <div class="inp-cont">
                    <div class="inp-grp">
                      <label class="label-wrapper" for="childName"
                        >Child's Full Name</label
                      >
                      <input
                        class="input-wrapper"
                        id="childName"
                        type="text"
                        formControlName="childName"
                      />
                      <div
                      class="val-err"
                        *ngIf="
                          subscribeForm.get('childName')?.invalid &&
                          subscribeForm.get('childName')?.touched
                        "
                      >
                        <span
                          *ngIf="subscribeForm.get('childName')?.errors?.['required']"
                          >Child Name is required</span
                        >
                      </div>
                    </div>

                    <div class="inp-grp">
                      <label class="label-wrapper" for="date"
                        >Child’s Date of Birth</label
                      >
                      <div class="date-wrapper" formGroupName="childDOB">
                        <div class="date-inp">
                          <input
                            class="input-wrapper"
                            id="date"
                            type="number"
                            formControlName="date"
                            placeholder="DD"
                          />
                        </div>
                        <div class="date-inp">
                          <input
                            class="input-wrapper"
                            id="month"
                            type="number"
                            formControlName="month"
                            placeholder="MM"
                          />
                        </div>
                        <div class="date-inp">
                          <input
                            class="input-wrapper"
                            id="year"
                            type="number"
                            formControlName="year"
                            placeholder="YYYY"
                          />
                        </div>

                      
                      </div>
                      <div
                      class="val-err"
                        *ngIf="
                          (subscribeForm.get('childDOB.date')?.invalid ||
                            subscribeForm.get('childDOB.month')?.invalid ||
                            subscribeForm.get('childDOB.year')?.invalid) &&
                          (subscribeForm.get('childDOB.date')?.touched ||
                            subscribeForm.get('childDOB.month')?.touched ||
                            subscribeForm.get('childDOB.year')?.touched)
                        "
                      >
                        <span
                          *ngIf="(subscribeForm.get('childDOB.date')?.errors?.['required'] || subscribeForm.get('childDOB.month')?.errors?.['required'] || subscribeForm.get('childDOB.year')?.errors?.['required'])"
                          >Child Date of Birth is required</span
                        >
                        <span
                          *ngIf="(subscribeForm.get('childDOB.date')?.errors?.['min'] || subscribeForm.get('childDOB.date')?.errors?.['max'])"
                          >Date must be between 1 and 31</span
                        >
                        <span
                          *ngIf="(subscribeForm.get('childDOB.month')?.errors?.['min'] || subscribeForm.get('childDOB.month')?.errors?.['max'])"
                          >Month must be between 1 and 12</span
                        >
                        <span
                          *ngIf="(subscribeForm.get('childDOB.year')?.errors?.['min'] || subscribeForm.get('childDOB.year')?.errors?.['max'])"
                          >Year must be between 2000 and 2023</span
                        >
                      </div>
                    </div>

                    <div class="inp-grp">
                      <label class="label-wrapper" for="grade">Grade</label>
                      <select
                        class="input-wrapper"
                        id="grade"
                        formControlName="grade"
                      >
                        <option value="">Select Grade</option>
                        <option *ngFor="let g of grades" [value]="g">
                          {{ g }}
                        </option>
                      </select>
                      <div
                      class="val-err"
                        *ngIf="
                          subscribeForm.get('grade')?.invalid &&
                          subscribeForm.get('grade')?.touched
                        "
                      >
                        <span
                          *ngIf="subscribeForm.get('grade')?.errors?.['required']"
                          >Grade is required</span
                        >
                      </div>
                    </div>

                    <div class="div-48">
                      <div class="div-49">Gender</div>
                      <div class="div-50">
                        <div class="div-51">
                          <div class="div-52">Boy</div>
                          <input
                            id="boy"
                            type="radio"
                            formControlName="gender"
                            value="Boy"
                          />
                        </div>
                        <div class="div-53">
                          <div class="div-54">Girl</div>
                          <input
                            id="girl"
                            type="radio"
                            formControlName="gender"
                            value="Girl"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                  class="val-err"
                    *ngIf="
                      subscribeForm.get('gender')?.invalid &&
                      subscribeForm.get('gender')?.touched
                    "
                  >
                    <span
                      *ngIf="subscribeForm.get('gender')?.errors?.['required']"
                      >Gender is required</span
                    >
                  </div>
                </div>
                <div class="div-55">
                  <div class="div-56">As a parent select any 3 topics</div>

                  <div formArrayName="topics">
                    <div class="div-57">
                      <div
                        (click)="onChange(t)"
                        class="div-58"
                        [ngClass]="{ selectedPill: t.isChecked }"
                        *ngFor="let t of topics; let i = index"
                      >
                        <label for="{{ t }}">{{ t.label }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="submit-btn-wrap">
              <button
                class="submit-btn"
                type="submit"
                [disabled]="subscribeForm.invalid"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-65">
            <div class="div-66">
              <div class="div-67">
                <div class="div-68">Summary</div>
                <div class="div-69">of your Monthly Surprise Box</div>
              </div>
              <div class="div-70">
                <div class="div-71">
                  <div class="div-72">
                    <div class="div-73">Mystery Box</div>
                    <div class="div-74">X 1</div>
                  </div>
                  <div class="div-75">
                    <div class="div-76">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        456
                      </span>
                    </div>
                    <div class="div-77">Monthly</div>
                  </div>
                </div>
              </div>
              <div class="div-78">
                <div class="div-79">
                  <div class="div-80">
                    <div class="div-81">Subtotal</div>
                    <div class="div-82">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        456
                      </span>
                    </div>
                  </div>
                  <div class="div-83">
                    <div class="div-84">Shipping</div>
                    <div class="div-85">Free</div>
                  </div>
                  <div class="div-86">
                    <div class="div-87">Taxes</div>
                    <div class="div-88">
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 400;
                        "
                      >
                        SAR
                      </span>
                      <span
                        style="
                          font-family: Nunito, -apple-system, Roboto, Helvetica,
                            sans-serif;
                          font-weight: 700;
                        "
                      >
                        4.0
                      </span>
                    </div>
                  </div>
                </div>
                <div class="div-89"></div>
                <div class="div-90">
                  <div class="div-91">Total</div>
                  <div class="div-92">
                    <span
                      style="
                        font-family: Nunito, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 400;
                      "
                    >
                      SAR
                    </span>
                    <span
                      style="
                        font-family: Nunito, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 700;
                      "
                    >
                      460
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="footer">
  <div class="container">
    <div class="content">
      <div class="logo">
        <svg
          class="logo2"
          width="63"
          height="27"
          viewBox="0 0 63 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_7489)">
            <path
              d="M0.564453 21H13.2485V17.444H5.10045V0.97998H0.564453V21Z"
              fill="black"
            />
            <path
              d="M21.587 18.228C19.291 18.228 18.003 16.548 18.003 13.748V13.524C18.003 10.724 19.347 9.10002 21.587 9.10002C23.855 9.10002 25.171 10.78 25.171 13.58V13.776C25.171 16.548 23.855 18.228 21.587 18.228ZM21.559 21.308C25.955 21.308 29.287 18.368 29.287 13.748V13.524C29.287 8.96002 25.983 6.02002 21.587 6.02002C17.191 6.02002 13.859 9.01602 13.859 13.608V13.832C13.859 18.396 17.191 21.308 21.559 21.308Z"
              fill="black"
            />
            <path
              d="M37.665 26.404C42.481 26.404 45.3649 24.192 45.3929 19.852V6.35602H41.361V8.54002C40.521 7.05602 39.0929 6.02002 36.7129 6.02002C33.0729 6.02002 30.2729 8.96002 30.2729 13.16V13.356C30.2729 17.696 33.1009 20.356 36.6569 20.356C38.8129 20.356 40.549 19.068 41.361 17.64V19.852C41.361 22.148 40.129 23.436 37.665 23.436C35.593 23.436 34.669 22.596 34.417 21.308H30.3849C30.7769 24.332 32.933 26.404 37.665 26.404ZM37.861 17.304C35.845 17.304 34.417 15.792 34.417 13.356V13.132C34.417 10.724 35.677 9.10002 37.945 9.10002C40.1569 9.10002 41.4729 10.612 41.4729 13.104V13.3C41.4729 15.792 39.989 17.304 37.861 17.304Z"
              fill="black"
            />
            <path
              d="M54.9616 18.228C52.6656 18.228 51.3776 16.548 51.3776 13.748V13.524C51.3776 10.724 52.7216 9.10002 54.9616 9.10002C57.2296 9.10002 58.5456 10.78 58.5456 13.58V13.776C58.5456 16.548 57.2296 18.228 54.9616 18.228ZM54.9336 21.308C59.3296 21.308 62.6616 18.368 62.6616 13.748V13.524C62.6616 8.96002 59.3576 6.02002 54.9616 6.02002C50.5656 6.02002 47.2336 9.01602 47.2336 13.608V13.832C47.2336 18.396 50.5656 21.308 54.9336 21.308Z"
              fill="black"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_7489">
              <rect width="63" height="27" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="footer-links">
        <div class="footer-link">
          <div class="button">
            <div class="text">Overview</div>
          </div>
        </div>
        <div class="footer-link">
          <div class="button">
            <div class="text">Help</div>
          </div>
        </div>
        <div class="footer-link">
          <div class="button">
            <div class="text">Privacy</div>
          </div>
        </div>
      </div>
      <div class="footer-text">© 2077 MyEdu</div>
    </div>
  </div>
</div>
